<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAuth" [routerLink]="['/signin']">Link</a>
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true" *ngIf="!isAuth">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAdmin"   [routerLink]="['/dashboard']">Dashboard</a>
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true" *ngIf="!isAdmin">Dashboard</a>
          </li>
        </ul>
        
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
    
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <div class="dropstart" *ngIf="notifications.length!=0">
                    <a class="nav-link  position-relative p-0 m-2" id="dropdownMenuLink" (click)="vue()" data-bs-toggle="dropdown" style="cursor:pointer;">
                        <i class="bi bi-bell" style="font-size: 1.5rem;"></i>
                        <small ><span class="position-absolute  translate-middle badge rounded-pill bg-danger">{{notificationsNumber}}</span></small>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                      <!-- <li class="dropdown-item " style="cursor: pointer;" *ngFor="let n of notifications">
                        {{n.type}}
                        <div *ngIf="n.type=='demande de conge'&&n.accept==null" >
                          <button type="button" class="btn btn-primary btn-sm ms-1 float-start" style="margin: 0px;" (click)="accept(n)"><i class="bi bi-check-lg" ></i></button>
                          <button type="button" class="btn btn-danger btn-sm ms-1 float-start" style="margin: 0px;" (click)="refuse(n)"><i class="bi bi-x-lg"></i></button>
                          <i class="bi bi-eye float-end " *ngIf="n.vue" style="color: rgb(0, 255, 106);"></i>
                          <i class="bi bi-bell float-end" *ngIf="!n.vue" style="color: red"></i>
                        </div>
                        <div *ngIf="n.type!='demande de conge'||n.accept!=null" >
                          <i class="bi bi-eye float-end " *ngIf="n.vue" style="color: rgb(0, 255, 106);"></i>
                          <i class="bi bi-bell float-end" *ngIf="!n.vue" style="color: red"></i>
                        </div>
                      </li> -->
                      <a href="#" class="dropdown-item" *ngFor="let n of notifications">
                        <!-- Message Start -->
                        <div class="d-flex" *ngIf="n.type=='demande de conge'&&n.accept==null">
                          <img src="../../assets/avatar5.png" style="  width: 50px;height: 50px; border-radius: 50%;" >
                          <div >
                            <h6 class="float-right">
                              {{n.username}}
                              <span class="float-right text-danger" style="font-size: 1rem;"><i class="bi bi-bell"></i></span>
                            </h6>
                            <p class="float-right" style="font-size: 0.8rem;">{{n.type}}
                            </p>
                            <p class="text-muted float-right" style="font-size: 0.7rem;"> {{n.startDate}}-{{n.endDate}}</p>
                            <div>
                              <button type="button" class="btn btn-primary btn-sm ms-1 float-start" style="margin: 0px;" (click)="accept(n)"><i class="bi bi-check-lg" ></i></button>
                              <button type="button" class="btn btn-danger btn-sm ms-1 float-start" style="margin: 0px;" (click)="refuse(n)"><i class="bi bi-x-lg" (click)="refuse(n)"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex" *ngIf="n.type!='demande de conge'||n.accept!=null">
                          <img src="../../assets/avatar5.png" style="  width: 50px;height: 50px; border-radius: 50%;" >
                          <div >
                            <h6 class="float-right">
                              {{n.username}}
                            </h6>
                              <span class="float-right text-danger" style="font-size: 1rem;">
                              <div *ngIf="n.type!='demande de conge'||n.accept!=null" >
                                <i class="bi bi-eye float-end " *ngIf="n.vue" style="color: rgb(0, 255, 106);"></i>
                                <i class="bi bi-bell float-end" *ngIf="!n.vue" style="color: red"></i>
                              </div>
                              </span>
                            
                            <p class="float-right" style="font-size: 0.8rem;">{{n.type}}
                            </p>
                            <p class="text-muted float-right" style="font-size: 0.7rem;">{{n.startDate}}-{{n.endDate}}</p>
                          </div>
                        </div>
                      </a>
                    </ul>
                </div>
                <div class="" *ngIf="notifications.length==0">
                    <a class="nav-link  position-relative p-0 m-2" style="cursor:pointer;">
                        <i class="bi bi-bell" style="font-size: 1.5rem;"></i>
                        <small ><span class="position-absolute  translate-middle badge rounded-pill bg-danger"></span></small>
                    </a>
                </div>
            </li>

            <ul class="navbar-nav mr-auto" *ngIf="!isAuth">
              <li class="nav-item ml-1">
                <a class="nav-link"  [routerLink]="['/signin']" >
                  <button class="btn btn-outline-primary my-1 my-sm-0 px-3 ">Login</button>
                </a>
              </li>
              <li class="nav-item mr-3">
                <a class="nav-link" [routerLink]="['/signup']">
                  <button class="btn btn-outline-primary my-1 my-sm-0 ml-1 ">Register</button>
                </a>
             </li>
            </ul>
            <ul class="navbar-nav mr-auto" *ngIf="isAuth">
              <li class="nav-item ml-1">
                <a class="nav-link">
                  <button class="btn btn-outline-secondary my-1 my-sm-0 px-3 " (click)="deconnection()">Deconnection</button>
                </a>
              </li>
            </ul>
        </ul>
      </div>
    </div>
  </nav>