<section class="content" >
    <div class="card">
      <div class="card-body p-0">
        <table class="table table-striped projects">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Project Name
              </th>
              <th>
                Team Members
              </th>
              <th>
                Project Progress
              </th>
              <th class="text-center">
                Status
              </th>
              <th>
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of projects"  >
              <td style="cursor: pointer;" (click)="click(p.id)">
                #
              </td>
              <td style="cursor: pointer;" (click)="click(p.id)">
                <a>
                  {{p.name}}
                </a>
                <br />
                <small>
                  Created 01.01.2019
                </small>
              </td>
              <td>
                <ul class="list-inline" >
                  <li class="list-inline-item" *ngFor="let t of p.team">
                    <div class="tooltipe">
                      <img alt="Avatar"  class="table-avatar" src="../../assets/avatar5.png">
                      <span class="tooltiptext">{{getName(t)}}</span>
                    </div>
                  </li>
                </ul>
              </td>
              <td class="project_progress">
                {{getnbrDays(p)}} Days left
              </td>
              <td class="project-state" *ngIf="p.status=='blocked'">
                <span class="badge bg-danger">{{p.status}}</span>
              </td>
              <td class="project-state" *ngIf="p.status=='encours'">
                <span class="badge bg-info">{{p.status}}</span>
              </td>
              <td class="project-state" *ngIf="p.status=='enretard'">
                <span class="badge bg-warning">{{p.status}}</span>
              </td>
              <td class="project-state" *ngIf="p.status=='done'">
                <span class="badge bg-success">{{p.status}}</span>
              </td>
              <td class="project-state" *ngIf="p.status==''">
                <span class="badge bg-danger">Error</span>
              </td>
              <td class="project-actions text-right">
                <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal4" (click)="reset(p)">
                  Edit
                </button>
                <button class="btn btn-danger btn-sm" (click)="delete(p.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>


  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="projectForm" >
              <div class="form-group">
                <label for="inputName">Project Name</label>
                <input type="text" id="inputName" formControlName="name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="inputDescription">Project Description</label>
                  <textarea id="inputDescription" formControlName="description" class="form-control" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="inputStatus">Status</label>
                    <select id="inputStatus" formControlName="status" class="form-control custom-select">
                    <option value="encours">En Cours</option>
                    <option value="blocked">Blocked</option>
                    <option value="enretard">En Retard</option>
                    <option value="done">Done</option>
                    </select>
                    </div>
                    <div class="form-group" style="border:2px solid rgb(207, 201, 201);border-radius: 5px;"  (mouseleave)="blure()">
                      <div class="text-center">Project Teams</div>
                      <div class="chips">
                        <div class="chip mx-1" *ngFor="let e of teams">
                          <img src="../../assets/avatar5.png" alt="Person" width="96" height="96">
                          {{e.firstName}}
                          <span class="closebtn" (click)="removeChip(e)">&times;</span>
                        </div>
                      </div>
                      <input type="text" class="form-control" (input)="input($event)">
                      <div *ngIf="visible" class="liste">
                        <ul class="list-group"  *ngFor="let e of emps">
                            <div class="list-group-item" (click)="addChip(e)">{{e.firstName}}</div>
                        </ul>
                    </div>
                    </div>
                    <div class="form-group">
                      <label for="inputStatus">Project Leader</label>
                      <select id="inputStatus" formControlName="leader" class="form-control custom-select">
                      <option selected disabled>Select one</option>
                      <option *ngFor="let e of employes" value="{{e.id}}">{{e.firstName}}</option>
                      </select>
                      </div>
  
                  <div class="form-group">
                    <label for="inputName" >Start Date</label>
                    <input type="date" formControlName="startDate" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="inputName">End date</label>
                      <input type="date" formControlName="endDate" class="form-control">
                      </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="submit" (click)="updateProject()" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>