.main-box{
    height: 650px;
    background-color: #8080801f;
    
}



.menu-items{
    list-style: none;
    line-height: 60px;
    padding-left: 25px;
    cursor: pointer;

}
.menu-items li{
    font-size: 18px;
    font-weight: 600;
    padding-left: 25px;
    cursor: pointer;

}
.menu-items li :hover{
    background-color: white;
    color:#7d7d7d;
}